.cursor-pointer {
  cursor: pointer;
}

.mb-50 {
  margin-bottom: 50px;
}

.border-radius-12 {
  border-radius: 1.2rem;
}

.pl-16 {
  padding-left: 1.6rem;
}

.pl-16 {
  padding-right: 1.6rem;
}

.px-16 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.h-100vh {
  height: 100vh;
}

.text-overflow-ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.font-w-700 {
  font-weight: 700 !important;
}

.text-align-end {
  text-align: right;
}
