:root {
  --primary-color: #5586b3;
  --white: #ffffff;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --overlay-shadow: rgba(6, 38, 79, 0.06);
  --modal-body-bg: #ffffff;
  --error: #ff5f5f;
  --main-bg: #f3f3f3;

  //Sizes
  --z-header: 1000;
  --header-padding: 10px;
  --d-header-height: 100px;
  --releasy-responsive-side-nav-width: 68px;
}
